body {
    background-color: black; 
}

p, h1, h2, h3, span, strong {
    color: white;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.max-resolution {
    display: none;
    width: 80vw;
    text-align: center;
    margin: 0 auto;
    height: 100vh;
}

.max-resolution__img {
    width: 150px;
    height: 150px;
}

.max-resolution__text {
    font-size: 20px;
}

.max-resolution__text--tablet {
    display: block;
}

.max-resolution__text--notebook {
    display: none;
}

content {
    display: block;
}

/* Tablets */
@media screen and (min-width: 430px) {
    .max-resolution {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .content {
        display: none;
    }
}

/* Notebooks */
@media screen and (min-width: 992px) {
    .max-resolution__text--tablet {
        display: none;
    }

    .max-resolution__text--notebook {
        display: block;
    }

    .max-resolution {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .content {
        display: none;
    }
}
